<%- model_class = Article -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:Title) %></th>
      <th><%= model_class.human_attribute_name(:Author) %></th>
      <th><%= model_class.human_attribute_name(:Created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
	  <% @articles.each do |article| %>
		  <% user = article.user %>
      <tr>
	      <td><b><%= link_to article.title, article_path(article), style: "color:#800000;" %></b></td>
	<td><%= link_to user.name, user_path(user), :style => "color:green;" %></td>
        <td><%= article.created_at.strftime("%v") %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_article_path(article), :class => 'btn btn-default btn-xs' if user.id == session[:user_id] %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      article_path(article),
		      :method => :delete,
		      :style => "color:red;",
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-default' if user.id == session[:user_id] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_article_path,
            :class => 'btn btn-primary btn-sm' if session[:user_id] %>
