<% if @user_name %>
	<p style="color:green;">Logged in as <%= @user_name %>, <%= link_to "Logout", logout_path, :method => :delete, :style => 'color:red;' %></p>
<% else %>
	<p style="color:red;">Not login, <%= link_to 'Login', login_path, :style => 'color:green;' %></p>
<% end %>

<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Content</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= User.find_by_id(article.author).name %></td>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td><%= link_to 'Show', article %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if session[:user_id] %>
	<%= link_to 'My Articles', own_path %>
<% end %>
