<%- model_class = Article -%>
<div id="main-page">
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<!-- <table class="table table&#45;striped"> -->
<!--   <thead> -->
<!--     <tr> -->
      <!-- <th><%#= model_class.human_attribute_name(:Title) %></th> -->
<!--       <th><%#= model_class.human_attribute_name(:Author) %></th> -->
<!--       <th><%#= model_class.human_attribute_name(:Created_at) %></th> -->
<!--       <th><%#=t '.actions', :default => t("helpers.actions") %></th> -->
<!--     </tr> -->
<!--   </thead> -->
<!--   <tbody> -->
<!-- 	  <%# @articles.each do |article| %> -->
<!-- 		  <%# user = article.user %> -->
<!--       <tr> -->
<!-- 	      <td><b><%#= link_to article.title, article_path(article), style: "color:#800000;" %></b></td> -->
<!-- 	<td><%#= link_to user.name, user_path(user), :style => "color:green;" %></td> -->
<!--         <td><%#= article.created_at.strftime("%v") %></td> -->
<!--         <td> -->
          <%# <%= link_to t('.edit', :default => t("helpers.links.edit")),
<%# # <!--                       edit_article_path(article), :class => 'btn btn&#45;default btn&#45;xs' if user.id == session[:user_id] %>
          <%# <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
# <!--                       article_path(article), -->
# <!-- 		      :method => :delete, -->
# <!-- 		      :style => "color:red;", -->
# <!--                       :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, -->
# <!--                       :class => 'btn btn&#45;xs btn&#45;default' if user.id == session[:user_id] %>
<!--         </td> -->
<!--       </tr> -->
    <%# <% end %>
<!--   </tbody> -->
<!-- </table> -->

<div id="grid" class="grid">
<% @articles.each do |art| %>
  <div class="grid-item darken-image col-lg-<%= Random.rand(6)+2 %>">
  <a href='<%= article_path(art) %>'>
        <h2 class="wyellow center"><%= art.title %></h2>
        <p class="white center"><%= art.content.summarize(:ratio => 20) %></p>
        </a>
        </div>
        <% end %>
        </div>

        </div>
<!--         <div class="row"> -->
<%# <%= link_to t('.new', :default => t("helpers.links.new")),
# <!--             new_article_path, -->
# <!--             :class => 'btn btn&#45;primary btn&#45;sm' if session[:user_id] %>
<!--           </div> -->


<script>

var pckry = new Packery('.grid', {
 itemSelector: '.grid-item',
 columnWidth: 50
});

pckry.getItemElements().forEach(
     function(itemEle){
       var dragie = new Draggabilly(itemEle);
       pckry.bindDraggabillyEvents(dragie);
     }
   );
// var iso = new Isotope('.grid', {
// //  percentPosition: true,
//   itemSelector: '.grid-item',
//   masonry: {
//     columnWidth: 50//'.grid-sizer'
//   }
// });

//iso.on('layoutComplete', alert('It is ok!'));
//
//$('.grid-item').each(function(i, gridItem){
//  var drag = new Draggabilly(gridItem);
//  drag.on('dragEnd', function(event, pointer){
//    iso.relayout();
//  });
//});

// $('.grid-item').each(function(i, ele){
//   interact(ele).draggable(true);
// });

//interact('.grid-item').draggable(
//    true
//    {
//  inertia: true,
//  autoScroll: true,
//  onmove: window.dragMoveListener,
//  onend: iso.shuffle()
//    }
//    );

function setBGImg(){
var width = document.getElementById("page-container").offsetWidth;
var height = document.getElementById("page-container").offsetHeight;
document.getElementById("page-container").setAttribute("style", "background-image:url(https://unsplash.it/"+width+"/"+height+"/?random); background-size: cover;");
}
window.onload = setBGImg();

</script>
